{% extends 'base.html' %}

{% block head %}

    {% if title %}
        <title> {{ title }} </title>
    {% else %}
        <title>WELCOME</title>
    {% endif %}

{% endblock %}


{% block body %}

<div class="container mt-3">


    <div class="container col-6">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="alert alert-{{ category }}"> {{ message }} </p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <h1>Home</h1>


</div>

{% endblock %}